/* Global styles*/
html, body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
}
a {
    color: inherit;
}

/* Header styles */
header {
    background-color: rgb(255,255,255);
    height: 60px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.title {
    transition: all .2s ease-in-out;
}
.title:hover {
    transform: scale(1.08);
}
.title a {
    display: flex;
    margin-left: 16px;
}
nav {
    display: none;
    font-size: 0.5em;
}
nav ul {
    display: flex;
}
nav ul li{
    margin-right: 70px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
nav ul li:hover {
    transform: scale(1.08);
}
/* Main styles */
#main {
    height: calc(100vh - 60px);
    width: 100vw;
    max-width: 100%;
    box-shadow: 5px 10px 8px 10px #888888;
    background: url(../assets/main.jpg) no-repeat center center;
    background-size: cover;
}




@media only screen and (min-width: 800px) {
    nav {
        display: flex;
    }
  }